node_modules/
.gradle/
build/
*.apk
*.aab
*.ipa
.DS_Store
*.hprof
*.keystore
!debug.keystore

# iOS
ios/Pods/
ios/build/

# Metro
.metro-health-check*

# Whisper model files (too large for GitHub)
assets/whisper_model/*.bin

# IDE
.idea/
.vscode/
*.swp
*.swo

*.env

.superpowers